<footer>
  <div class="top-content">
    <div class="products">
      <h5 class="title">
        products
      </h5>
      <ul>
        <li>univacity</li>
        <li>univisa</li>
        <li>unifilght</li>
        <li>unishop</li>
      </ul>
    </div>

    <div class="resources">
      <h5 class="title">
        resources
      </h5>
      <ul>
        <li>blog</li>
        <li>help center</li>
        <li>pricing</li>
      </ul>
    </div>

    <div class="company">
      <h5 class="title">
        company
      </h5>
      <ul>
        <li>about</li>
        <li>subscribe</li>
        <li>contact us</li>
        <li>careers</li>
        <li>media kit</li>
      </ul>
    </div>

    <div class="contact">
      <h5 class="title">
        contact
      </h5>
      <ul>
        <li>+236 251 881 9917</li>
        <li>hello@univacity.com</li>
      </ul>
    </div>
  </div>

  <div class="middle-content">
    <div class="left">
      <img src="../../../assets/univacity_icons/usa-flag.png" alt="" class="flag">
      <p class="country-name">united states</p>
      <i class="fa-solid fa-angle-down"></i>
    </div>
    <div class="right">
      <ul>
        <li>Facebook
          </li>
        <li>Instagram</li>
        <li>Twitter</li>
        <li>LinkedIn</li>
      </ul>
    </div>
  </div>

  <div class="bottom-content">
    <div class="left">
      <p class="country-name">&copy; Univacity. All right reserved.</p>
    </div>
    <div class="right">
      <ul>
        <li>Terms of Service</li>
        <li>Cookie Policy</li>
        <li>Privacy Policy</li>
      </ul>
    </div>
  </div>


</footer>
