<header class="navbar">
 <div class="flex">
  <div class="logo">
    <img src="../../../assets/univacity_icons/univacity_logo.png" alt="">
  </div>

    <ul class="flex service">
      <li>products
        <i class="fa-solid fa-angle-down"></i>
      </li>

      <li>solutions
        <i class="fa-solid fa-angle-down"></i>
      </li>

      <li>resources
        <i class="fa-solid fa-angle-down"></i>
      </li>

      <li>our company
        <i class="fa-solid fa-angle-down"></i>
      </li>

    </ul>
  <nav class="flex icons">
    <div class="search">
      <i class="fa fa-search"></i>
    </div>
    <div>
      <span class="fa-stack has-badge" data-count="99+">
        <i class="fa-solid fa-message"></i>
      </span>
    </div>

    <div class="avatar">
      <img src="../../../assets/univacity_icons/profile_pic.png" alt="Profile Avatar">
      <i class="fa-solid fa-angle-down"></i>
    </div>

  </nav>
 </div>
 <div class="sub-nav">
  <div class="search">
    <i class="fa-solid fa-table-columns"></i>
        <p>dashboard</p>
  </div>
  <div class="search">
    <i class="fa-solid fa-clipboard"></i>
    <p>applications</p>
  </div>
  <div class="search">
    <i class="fa fa-search"></i>
    <p>bookings</p>
  </div>
  <div class="search">
    <i class="fa-solid fa-credit-card"></i>
        <p>payments</p>
  </div>
  <div class="search">
    <i class="fa-solid fa-gear"></i>
    <p>settings</p>
  </div>
 </div>
</header>
