@import '../../style/mixins.scss';
main{
  position: relative;
  z-index: 5;
  left: 6rem;
  width: 80vw;
  padding-right: 15rem;
  & div >.tabs{
    @include flex-center-space-between;
    width: 43rem;
    height: 3.4rem;
    & button{
      border: none;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
      &:not(:last-child){
        border-radius: 0px;
        border-right: 1.5px solid grey;
      }
    }
  }
  & div >.view-style{
    @include flex-center-space-between;
    width: 111px;
    height:24px;
    gap: 16px;

  }
  .top{
    @include flex-center-space-between;
  }

.selected {
font-size: 2rem;
font-weight: 600;
line-height: 3.4rem;
letter-spacing: 0.5px;
text-align: left;
}

/* Add this to your CSS file */
.card-grid {
  display: flex;
  flex-wrap: wrap;
  @include flex-center-space-between;

}

.card {
  flex: 0 0 calc(30% - 1rem);
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}

.card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-text {
  margin-bottom: 0.25rem;
}

.view-style {
  margin-top: 1rem;
  text-align: center;
  & img{
    cursor: pointer;
    color: green;
    &:hover, &:active{
      color: blue;
    }
  }
}

.country-name > span{
  width: 10px;
  height: 10px;
  & img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}





.card-list .card {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  // flex: 100%;
}

.card-list .card-body {
  padding: 1rem;
}

.card-list .card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-list .country-name {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}

.card-list .country-name img {
  width: 20%;
  margin-right: 0.5rem;
}

.card-list .card-text {
  margin-bottom: 0.25rem;
}

.card-list img.card-img-top {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
}

.view-style {
  margin-top: 1rem;
  text-align: center;
}



}
