<app-header></app-header>
<div>
  <app-theme-toggle></app-theme-toggle>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit natus fugit quam, assumenda rem placeat optio eligendi maxime! Debitis eum delectus nulla illo sunt, magnam reiciendis dicta ab aperiam exercitationem quasi similique! Vitae distinctio ratione aut dignissimos ex officia, quibusdam rerum nemo nobis, doloribus voluptatum soluta totam fugiat, obcaecati quia aliquid laudantium quaerat illo ipsa odit. Ipsa delectus minus rerum eligendi dolore ullam saepe numquam tempore neque. Aliquid ipsum veritatis quibusdam veniam, nesciunt incidunt perspiciatis nisi non dolores, quae nostrum amet atque. Recusandae ab ratione expedita aspernatur consequatur dolor a, iusto vel, est quod perferendis nisi eaque harum officiis inventore.
  </p>
  <app-sidebar></app-sidebar>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

<app-pagination
[currentPage]="currentPage"
[totalPages]="totalPages"
(pageChange)="onPageChange($event)"
></app-pagination>
<app-footer></app-footer>
</div>
