<div class="accordion" *ngFor="let accordion of accordions" [ngClass]="{'open': accordion.isOpen}">
  <div class="accordion-title" (click)="toggleAccordion(accordion)">
    {{ accordion.title }}
    <i class="fa" [ngClass]="{'fa-chevron-down': accordion.isOpen, 'fa-chevron-up': !accordion.isOpen}"></i>
  </div>
  <div class="accordion-content">
    <ng-container *ngIf="accordion.items; else rangeField; else countrySection">
      <div class="search-wrapper">
        <i class="fa fa-search"></i>
        <input type="text" [(ngModel)]="searchTerm" placeholder="{{ accordion.searchPlaceholder }}" />
      </div>
      <ul>
        <li *ngFor="let item of accordion.items">
          <label>
            <input type="checkbox" [(ngModel)]="item.checked" /> {{ item.name }}
          </label>
        </li>
      </ul>
    </ng-container>
    <ng-template #rangeField>
      <input
        type="range"
        id="tuitionRange"
        [min]="accordion?.range?.min"
        [max]="accordion?.range?.max"
      />
      <br>
      <span>${{ accordion?.range?.min }} --- ${{ accordion?.range?.max }}</span>
    </ng-template>
       <!-- <ng-container *ngIf="accordion.countries">
      <input type="text" [(ngModel)]="searchTerm" placeholder="{{ accordion.searchPlaceholder }}" />
      <ul>
        <li *ngFor="let country of accordion.countries">
          <label>
            <input type="checkbox" [(ngModel)]="country.checked" /> {{ country.name }}
          </label>
        </li>
      </ul>
      <select>
        <option *ngFor="let option of accordion.seeAllOptions">{{ option }}</option>
      </select>
    </ng-container> -->
    <ng-template #countrySection>
      <div class="search-wrapper">
        <i class="fa fa-search"></i>
        <input type="text" [(ngModel)]="searchTerm" placeholder="{{ accordion.searchPlaceholder }}" />
      </div>
      <ul>
        <li *ngFor="let country of accordion.countries; let i = index" [ngClass]="{'hidden': !showAllCountries && i >= 1}">
          <label>
            <input type="checkbox" [(ngModel)]="country.checked" /> {{ country.name }}
          </label>
        </li>
      </ul>
      <button class="see-all" (click)="toggleAllCountries()">See all countries

        <i class="fa" [ngClass]="{'fa-chevron-down': !showAllCountries, 'fa-chevron-up': showAllCountries}"></i>
      </button>
      <!-- <ul *ngIf="showAllCountries">
        <li *ngFor="let country of accordion.countries">
          <label>
            <input type="checkbox" [(ngModel)]="country.checked" /> {{ country.name }}
          </label>
        </li>
      </ul> -->
      <!-- <select>
        <option *ngFor="let option of accordion.seeAllOptions">{{ option }}</option>
      </select> -->
    </ng-template>
  </div>
</div>
