$main-black-color: rgba(17, 17, 17, 1);
$search-border-grey: rgba(119, 124, 136, 1);
$primary-color-blue: rgba(24, 78, 201, 1);
$primary-color-red: rgba(246, 68, 68, 1);
$primary-color-deepred:  rgba(216, 44, 13, 1);
$text-color-black: rgba(17, 17, 17, 1);
$text-color-grey: rgba(119, 124, 136, 1);
$pagination-button-filled: rgba(197, 203, 218, 1);
$pagination-button-border:  rgba(176, 182, 197, 1);
$light-blue-color-elearning:  rgba(86, 204, 242, 1);
$purple-color-hybrid: rgba(155, 81, 224, 1);
$green-success-color: rgba(0, 128, 96, 1);
$red-critical-color: rgba(216, 44, 13, 1);





