@import './theme';
@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');
@import './app/style/variables.scss';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --background-color: var(--background-light);
  --text-color: var(--text-light);
}

[data-theme='dark'] {
  --background-color: var(--background-dark);
  --background-color: #121212;
  --text-color: var(--text-dark);
  --text-color: #ffffff;
}

body {
  background-color: $background-color;
  color: var(--text-color);
  font-size: 1.6rem;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}
button{
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid #121212;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
